<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tạo khuyến mãi</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Tạo mã giảm giá</h2>
    <form th:action="@{/products/create}" method="post">
        <div class="form-group">
            <label for="code">Mã:</label>
            <input type="text" class="form-control" id="code" name="code" required>
        </div>
        <div class="form-group">
            <label for="discount">Giảm giá(%):</label>
            <input type="number" step="0.01" class="form-control" id="discount" name="discount" required>
        </div>
        <div class="form-group">
            <label for="active">Kích hoạt:</label>
            <select class="form-control" id="active" name="active">
                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Ngày bắt đầu:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group">
            <label for="endDate">Ngày kết thúc:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
    </form>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
