<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="en">
<head>
    <title th:text="${title} ?: 'Products List'">Danh sách sản phẩm</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .product-image-container {
            border: 1px solid #dee2e6;
            padding: 10px;
            border-radius: 5px;
            max-width: 100%;
        }

        .product-image {
            width: 100%;
            max-width: 300px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<section layout:fragment="content" class="container mt-3">
    <h1 class="text-center">Chi tiết sản phẩm</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="product-image-container">
                <img th:src="@{'/images/' + ${product.image}}" alt="Product Image" class="img-fluid product-image">
            </div>
        </div>
        <div class="col-md-6">
            <h3 th:text="${product.name}"></h3>
            <p><strong>Size:</strong> <span th:text="${product.size}"></span></p>
            <p><strong>Mô tả:</strong> <span th:text="${product.description}"></span></p>
            <p><strong>Số lượng:</strong> <span th:text="${product.quantity}"></span></p>
            <p><strong>Loại sản phẩm:</strong> <span th:text="${product.category.name}"></span></p>
            <p><strong>Phong cách:</strong> <span th:text="${product.productType.name}"></span></p>
            <p><strong>Giá:</strong> <span th:text="${product.price}"></span></p>
            <td>
                <form th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()" style="display: flex; align-items: center;">
                    <p style="margin: 0; margin-right: 10px;">Số lượng</p>
                    <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block" style="width: 70px; margin-right: 10px;">
                    <input type="hidden" th:value="${product.id}" name="productId"/>
                    <button type="submit" class="btn btn-warning btn-sm">Thêm Vào Giỏ</button>
                </form>
            </td>
        </div>
    </div>
    <a th:href="@{/}" class="btn btn-primary mt-3">Quay lại trang chủ</a>
</section>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>
